@import "settings";


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
@import "foundation/components/grid";
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
@import "foundation/components/magellan";
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
@import "foundation/components/side-nav";
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


$back: repeating-linear-gradient(
        -45deg, 
            transparent, 
            transparent 7px, 
            rgba(143, 77, 63, 0.05) 10px, 
            rgba(143, 77, 63, 0.05) 20px,
            transparent 7px, 
            rgba(143, 77, 63, 0.05) 30px, 
            rgba(143, 77, 63, 0.05) 40px
        ),
        repeating-linear-gradient(45deg, 
            transparent, 
            transparent 7px, 
            rgba(143, 77, 63, 0.05) 30px, 
            rgba(143, 77, 63, 0.05) 60px
        );

$myColor: tomato;




/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.wrapper {
	min-height:100%;
	position:relative;
}

header {
    text-align: left;
    color: white;
    text-transform: full-width;
    text-shadow: 1px 1px 0.5em black;
    background-position:center;    
    background-size: cover;
    background-image: $back,url(./../assets/img/head-backgd.png);
    font-size: 1.2em;

    // @media # {$medium-up}
    //{
    
    .container {
        display: flex;
        //align-items: center;
        justify-content: space-between;
    }
    .title-block {
        order: -1;
        flex-basis:50vw;
        padding: 0 5%;
            
        h1 {
            font-weight:100;
            font-size: 4.5em;
            margin: 0;
        }
        
        h2 {
            padding-left: 1vw;
        }

        p {
            padding-left: 2em;
            font-style: italic;
        }
    }
    
    // }

    .photo-block {
        //background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 20%,rgba(255, 255, 255, 0.8));
        background-color: rgba(255, 255, 255, 0.5);
        flex-basis:50vw;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
            width: 100%;
            max-width: 400px;
        }
    }
}

.social {
    background-color: tomato ;
    // background-image: #FA6146 ;
    overflow: hidden;
    margin:0;
    padding:0.3em;
    color:white;
    // box-shadow: 0 0 15px #ccc;
    // border-top: 0.3em silver solid;
    // border-bottom: 0.2em slategray solid;
    
    // @media #{$medium-up} {
    //     width:100%;
    //     height:100px;
    //     position:absolute;
    //     bottom:0;
    //     left:0;
    // }
     
    a {
        font-size:3.5em;
        color:white ;
    }
}

.content {
    color: Cadetblue  ;
    
    .keyword{
        list-style-type:none;
        padding:0;
        
        a {
            color: $myColor;
            text-decoration:none;
        }

        &__item {
            display:inline-block;
            border:1px $myColor solid;
            border-radius: 3px;
            padding:7px;
            
            &:hover {
                a {color:white;}
                background-color: tomato;
            }
        }
    }

}

#git {
    display : block;
    margin:10px;
    //margin: 6em;
    
    .git-board {
        border-radius:5px;
        padding:1em 0.5em;
        // background-color: #ccc;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        
        &__item {
            margin:0.5em;
            padding: 0 0.5em;
            display:block;
            background-color: Gainsboro;
            // border: 1px grey solid;
            border-radius:5px;
            flex-grow:1;
            flex-basis: 32%;
            max-width: 33%;
        }
    }
}