@import "settings";


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
@import "foundation/components/grid";
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
@import "foundation/components/magellan";
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
@import "foundation/components/side-nav";
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


$back: repeating-linear-gradient(
        -45deg, 
            transparent, 
            transparent 7px, 
            rgba(143, 77, 63, 0.05) 10px, 
            rgba(143, 77, 63, 0.05) 20px,
            transparent 7px, 
            rgba(143, 77, 63, 0.05) 30px, 
            rgba(143, 77, 63, 0.05) 40px
        ),
        repeating-linear-gradient(45deg, 
            transparent, 
            transparent 7px, 
            rgba(143, 77, 63, 0.05) 30px, 
            rgba(143, 77, 63, 0.05) 60px
        );

$myColor: tomato;




/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.wrapper {
	min-height:100%;
	position:relative;
}

header {
    text-align: center;
    color: white;
    text-transform: full-width;
    text-shadow: 1px 1px 0.5em black;
    background-position:center;    
    background-size: cover;
    background-image: $back,url(./../assets/img/head-backgd.png);
    font-size: 1.2em;



// 
    .container {
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
    }

    .photo-block {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border: 5px white solid;
        margin: 10px;
        
        img {
            width: 100%;
            max-width: 400px;
        }
    }
    
    .title-block {
        overflow:hidden;
        padding:0 1em;
        
        h1 {
            font-weight:100;
            font-size: 3.5em;
            margin: 0;
            line-height: 120%;
        }
        
        h2 {
            margin:0;
        }

        p {
            margin:0.5em 0;
            font-style: italic;
        }
    }

   
    @media #{$medium-up}
    {
        
        .container {
            background-color: rgba(255, 255, 255, 0.3);
            display: flex;
            justify-content: space-between;
        }
        .title-block {
            order: -1;
            flex-basis:50vw;
            padding: 0 5%;
            text-align:left;
    
            h1 {
                font-weight:100;
                font-size: 4.2em;
                margin: 0;
                line-height: 150%;
            }
            
            h2 {
                margin:0.83em 0;
                padding-left: 1vw;
            }
    
            p {
                padding-left: 2em;
                margin:1em 0;
                font-style: italic;
            }
        }
        
        // }
    
        .photo-block {
            //background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 20%,rgba(255, 255, 255, 0.8));
            background-color: rgba(255, 255, 255, 0.5);
            flex-basis:50vw;
            border:none;
            margin:0;
        }
    }
}

.social {
    background-color: tomato ;
    // background-image: #FA6146 ;
    overflow: hidden;
    margin:0;
    padding:0.3em;
    color:white;
    // box-shadow: 0 0 15px #ccc;
    // border-top: 0.3em silver solid;
    // border-bottom: 0.2em slategray solid;
    
    // @media #{$medium-up} {
    //     width:100%;
    //     height:100px;
    //     position:absolute;
    //     bottom:0;
    //     left:0;
    // }
        
    a {
        margin:0 1vw;
        font-size:3.5em;
        color:white ;
    }
}


.content {
    color: Cadetblue  ;
    
    .keyword{
        list-style-type:none;
        padding:0;
        color: $myColor;
        cursor: pointer;

        &__item {
            display:inline-block;
            border:1px $myColor solid;
            border-radius: 3px;
            padding:7px;
            
            &:hover {
                color:white;
                background-color: tomato;
            }
        }
    }

}

#git {
    display : block;
    margin:10px;
    cursor: default;
    
    .git-board {
        border-radius:5px;
        padding:1em 0.5em;
        // background-color: #ccc;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        
        &__item {
            font-weight:lighter;
            margin:0.5em;
            background-color: tomato;
            //border: 1px grey solid;
            border-radius:5px;
            flex-grow:1;
            flex-basis: 20%;
            max-width: 25%;
            list-style:none;
            
            a {
                padding: 0 0.5em;
                color:white;
                text-decoration:none;
            }
            
            
            h3,p {
                margin:0;
            }
        }
    }
}