@import "settings";
@import "foundation";
@import "foundation/components/grid";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


header {
    background-color: Snow   ;
    color: slategrey;

    img {
        width:90%;
        max-witdh: 400px;
    }
    
    @media #{$medium-up} {
        .row {
            display: flex;
            align-items: center;
        }
        
        .header-text {
            order: -1;
            margin: 0 auto;
            //padding: 10%;
            box-sizing: border-box;
            
            p {
                margin:0;
            }
        }
        
       @include grid-column($center:true);
    }
}

.content {
    background-color: SteelBlue ; //pale MidnightBlue
    color: snow;
}